{% load staticfiles %}

<html>
<head>
    <title>Hotelix - tworzymy turystykę</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/breadcrumbs.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <!-- jQuery UI -->
    <script src="{% static 'ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'ui/jquery.ui.datepicker-pl.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'ui/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ui/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ui/jquery-ui.css' %}">
</head>

<body>
    {% block logout %}
    <div id="logout">
        <span>{{ user.username }}</span>
        <a href="/logout/">Wyloguj</a>
    </div>
    {% endblock %}
    {% block sweet_logo %}
    <div id="logo">
        <img src="{% static 'img/logo.png' %}" alt="logo" />
    </div>
    {% endblock %}
    {% block common %}
    <div id="common">
        <div id="ddblueblockmenu" class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                {% if user.is_superuser %}
                <li><a href="/dja/">Panel admina</a></li>
                {% endif %}
            </ul>
            <div class="menutitle">Zamówienia</div>
            <ul>
                <li><a href="{% url 'client:order_list' %}">Rezerwacje</a></li>
                <li><a href="{% url 'client:client_list' %}">Lista klientów</a></li>
            </ul>
            {% if perms.structure.change_house %}
            <div class="menutitle">Struktura</div>
            <ul>
                <li><a href="{% url 'structure:house_list' %}">Lista domów</a></li>
            </ul>
            {% endif %}
            {% if perms.services.change_mealtype or perms.services.change_mealorder %}
            <div class="menutitle">Posiłki</div>
            <ul>
                {% if perms.services.change_mealtype %}
                <li><a href="{% url 'services:mealtype_list' %}">Lista posiłków</a></li>
                {% endif %}
                {% if perms.services.change_mealorder %}
                <li><a href="{% url 'services:mealorder_list' %}">Zamówienia posiłków</a></li>
                {% endif %}
            </ul>
            {% endif %}
            {% if perms.services.change_servicetype or perms.services.change_serviceorder %}
            <div class="menutitle">Usługi</div>
            <ul>
                {% if perms.services.change_servicetype %}
                <li><a href="{% url 'services:servicetype_list' %}">Lista usług</a></li>
                {% endif %}
                {% if perms.services.change_serviceorder %}
                <li><a href="{% url 'services:serviceorder_list' %}">Zamówienia usług</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
        <div id="content">
            {% if view.extra_image %}
            <div id="extra_image" style="">
                <img src="{% static view.extra_image %}" alt="extra image">
            </div>
            {% endif %}
            {% if view.get_breadcrumbs %}
                {# generate dynamic breadcrumbs color with hsl #}
                <style type="text/css">
                {% for breadcrumb in view.get_breadcrumbs %}
                    .breadcrumb li:nth-child({{ forloop.counter }}) a{
                        background: hsla(205,80%,{{ breadcrumb.lightness }}%,1);
                        color: hsla({{ breadcrumb.fontcolor }});
                    }
                    .breadcrumb li:nth-child({{ forloop.counter }}) a:after{
                        border-left-color: hsla(205,80%,{{ breadcrumb.lightness }}%,1);
                        color: hsla({{ breadcrumb.fontcolor }});
                    }
                {% endfor %} 
                </style>
                <ul class="breadcrumb">
                {% for breadcrumb in view.get_breadcrumbs %}
                    <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                {% endfor %}
                </ul>
            {% endif%}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% endblock %}

    {% block footer %}
        {# Here will be extra JS and/or CSS #}
        <script type="text/javascript">
        $(document).ready(function(){
            if(location.search.search("success") > -1){
                alert("Zapis poprawny");
            }
            $(".date_picker").datepicker({
                firstDay: 1,
                dateFormat: "yy-mm-dd"
            });
        });
        </script>
    {% endblock %}
</body>
</html>