{% load staticfiles %}

<html>
<head>
    <title>Hotelix - tworzymy turystykę</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    {% block logout %}
    <div id="logout">
        <a href="/logout/">Wyloguj</a>
    </div>
    {% endblock %}
    <div id="logo">
        <img src="{% static 'img/logo.png' %}" alt="logo" />
    </div>
    
    {% block common %}
    <div id="common">
        <div id="menu">
            <h3>menu</h3>
            <ul style="list-style-type: none;">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'structure:house_list' %}">Lista domów</a></li>
            </ul>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% endblock %}
</body>
</html>