{% extends "base.html" %}

{% block content %}
<h3>Lista pięter budynku <span style="text-decoration: underline">{{ house_name }}</span></h3>
<a href="{% url 'structure:floor_create' house_id %}"><button>Nowe piętro</button></a>
<table>
    <thead>
        <tr>
            <th>Numer piętra</th>
            <th>Lista pokojów</th>
            <th>Edycja</th>
            <th>Usuwanie</th>
        </tr>
    </thead>
    <tbody>
    {% for floor in object_list %}
        <tr>
            <td>{{ floor.number }}</td>
            <td><a href="{% url 'structure:room_list' floor.house.id floor.id %}">Pokoje</a></td>
            <td><a href="{% url 'structure:floor_edit' floor.house.id floor.id %}">Edycja</a></td>
            <td><a href="{% url 'structure:floor_delete' floor.house.id floor.id %}">Usuń</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table> 
{% endblock %}