#logo{
    text-align: center;
}

#logout{
    width: 100px;
    height: 30px;
    line-height: 30px; /* center verticaly */
    float: right;
    font-size: 12px;
    font-weight: bold;
    background-color: #F6FEFF;
    text-align: center;
    text-transform: uppercase;
}
#logout a{
    text-decoration: none;
}