body{
    background-color: #ABFF8A;
}

#logo{
    text-align: center;
}

#logout{
    width: 100px;
    height: 30px;
    line-height: 30px; /* center verticaly */
    float: right;
    font-size: 12px;
    font-weight: bold;
    background-color: #F6FEFF;
    text-align: center;
    text-transform: uppercase;
}
#logout a{
    text-decoration: none;
}

/* http://stackoverflow.com/a/446097 */
#common{ /* common has #content and #menu */
    margin-top: 20px;
}
#content{
    /* margin-left: 20%; */
    width: 800px;
    background-color: #ddd;
    /* display: inline-block; */
    margin-left: 210px;
}

#menu{
    width: 200px;
    background-color: #3CDFFF;
    /* display: inline-block; */
    float: left;
}