{% extends "base.html" %}

{% block content %}
<h3>Lista klientów</h3>

<a href="{% url 'client:client_create' %}"><button>Nowy klient</button></a>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>imię i nazwisko</th>
            <th>utworzono</th>
            <th>telefon</th>
            <th>edycja</th>
            <th>usuwanie</th>
        </tr>
    </thead>
    <tbody>
    {% for client in object_list %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.created }}</td>
            <td>{{ client.telephone }}&nbsp</td>
            <td><a href="{% url 'client:client_edit' client.id %}">Edytuj</a></td>
            <td><a href="{% url 'client:client_delete' client.id %}">Usuń</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}