{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h3 style="display: inline;">Dom: {{ house.name }}</h3>
<div style="display: inline;">
    Zmień:
    <select id="change_house">
        {% for opt in all_houses %}
            <option {% if opt.id == house.id %}selected="selected"{% endif %}
                    value="{{ opt.id }}">{{ opt.name }}</option>
        {% endfor %}
    </select>
</div>
<div>
    <label>Dzień początkowy<input type="text" class="date_picker" id="start_date" />
    {% comment %}<label>Dzień końcowy<input type="text" class="date_picker" />{% endcomment %}
    <button id="change_date_btn">Zmień</button> 
</div>
{% comment %}
{% for floor in floors %}
    <h3>Pietro {{ floor.id }}</h3>
    <ul>
    {% for room in floor.rooms %}
        <ul>Pokój {{ room.name }} {{ room.orders }}</ul>
    {% endfor %}
    </ul>
{% endfor %}
{% endcomment %}

<table>
    <thead>
        <tr>
            <th>Układ</th>
            {% for date in date_range %}
            <th>{{ date|date:"m-d" }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for floor_number, rooms in orders.items %}
        <tr><td colspan="15" style="background-color: #FFEDC3;">Piętro: {{ floor_number }}</td></tr>
        {% for room_name, dates in rooms.items %}
            <tr><td>Pokój: {{ room_name }}</td>
            {% for room_desc in dates %}
                {% if room_desc.is_reserved %}
                <td style="background-color: {{ room_desc.bgcolor }}"><img src="{% static 'img/full.png' %}" /></td>
                {% else %}
                <td>Nie</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block footer %}
    {{ block.super }}
    <script type="text/javascript">
        function call_view(){ 
            var get_params = "?";
            get_params += "house_id=" + $("#change_house").val();
            get_params += "&start_date=" +  $("#start_date").val();
            document.location.href = "{% url 'client:order_list' %}" + get_params;
        }
        $("#change_house").change(function(){
            call_view();
            /*
            var house_id = $(this).val();
            document.location.href = "{% url 'client:order_list' %}?house_id=" + house_id;
            */
        });
        $("#change_date_btn").click(function(){
            call_view();
        });
        
    </script>
{% endblock %}

